@font-face {
    font-family: 'cera_prolight';
    src: url('../fonts/cerapro-light-webfont.eot');
    src: url('../fonts/cerapro-light-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/cerapro-light-webfont.woff2') format('woff2'),
    url('../fonts/cerapro-light-webfont.woff') format('woff'),
    url('../fonts/cerapro-light-webfont.ttf') format('truetype'),
    url('../fonts/cerapro-light-webfont.svg#cera_prolight') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'cera_proregular';
    src: url('../fonts/cerapro-regular-webfont.eot');
    src: url('../fonts/cerapro-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/cerapro-regular-webfont.woff2') format('woff2'),
    url('../fonts/cerapro-regular-webfont.woff') format('woff'),
    url('../fonts/cerapro-regular-webfont.ttf') format('truetype'),
    url('../fonts/cerapro-regular-webfont.svg#cera_proregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'cera_promedium';
    src: url('../fonts/cerapro-medium-webfont.eot');
    src: url('../fonts/cerapro-medium-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/cerapro-medium-webfont.woff2') format('woff2'),
    url('../fonts/cerapro-medium-webfont.woff') format('woff'),
    url('../fonts/cerapro-medium-webfont.ttf') format('truetype'),
    url('../fonts/cerapro-medium-webfont.svg#cera_promedium') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'cera_probold';
    src: url('../fonts/cerapro-bold-webfont.eot');
    src: url('../fonts/cerapro-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/cerapro-bold-webfont.woff2') format('woff2'),
    url('../fonts/cerapro-bold-webfont.woff') format('woff'),
    url('../fonts/cerapro-bold-webfont.ttf') format('truetype'),
    url('../fonts/cerapro-bold-webfont.svg#cera_probold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'cera_problack';
    src: url('../fonts/cerapro-black-webfont.eot');
    src: url('../fonts/cerapro-black-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/cerapro-black-webfont.woff2') format('woff2'),
    url('../fonts/cerapro-black-webfont.woff') format('woff'),
    url('../fonts/cerapro-black-webfont.ttf') format('truetype'),
    url('../fonts/cerapro-black-webfont.svg#cera_problack') format('svg');
    font-weight: normal;
    font-style: normal;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container_menu{
    margin:auto;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    margin-top: 30px;
    margin-bottom: 12px;
    max-width: 1200px;
    border-bottom: 0.3px solid rgba(70, 163, 88, 0.1);
}
.menu{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    right: 80px;

}
.logo{
    position: relative;
    top: 2px;
}
.menu .menu_li{
    margin-right: 50px;
    width: 40px;
}
.menu li:last-of-type{
    margin-right: 0;
}
.menu li:nth-of-type(3){
    width: 74px;
}
.menu .menu_li .menu_a{
    display: block;
    position: relative;
    text-decoration: none;
    text-align: center;
    top: 10px;
    font-size: 14px;
    font-weight: 400;
    font-family: 'cera_proregular';
    color: #3d3d3d;
}
.menu .menu_li .menu_a:hover{
    font-weight: 600;
    font-size: 14px;
}
.menu .menu_li:after{
    height: 3px;
    background-color: transparent;
    content:"";
    display: block;
    margin-top: 25px;
    transition: 0.5s;
}
.menu .menu_li:hover:after{
    background-color: #46A358;
}



header nav ul .drop_1{
    display: block;
    position: absolute;
    background-color: #EDF6EE;
    top:60px;
    min-width: 188px;
    height: 165px;
    right: 10px;
    opacity:0;
    list-style:none;
}
header nav ul li.drop_menu_1:hover .drop_1{
    opacity: 1;
    transition: 0.5s;
    height: 165px;
}
header nav ul .drop_1 li a{
    display: block;
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    color: #3d3d3d;
    font-family: cera_proregular;
    padding: 10px 14px;
    width: 188px;
}
.drop_1 li a:hover{
    font-family: 'cera_probold';
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    background-color:  #1a712a;
}
header nav ul .drop_1 li a svg{
    margin-left: 90px;
}
header nav ul .drop_1 li:last-of-type:hover a svg{
    transform: rotate(180deg);
    transition: 1s;
}
header nav ul .drop_1 li:last-of-type:hover a svg path{
    fill: white;
}
header .drop_menu_2 .drop_2{
    display: block;
    background-color: #edf6ee;
    position: relative;
    left: 190px;
    bottom: 160px;
    opacity: 0;
    height: 0;
    min-width: 178px;
    list-style: none;
}
header .drop_menu_2:hover .drop_2{
    opacity: 1;
    height: auto;
}



.log_in{
    padding: 8px 17px 7px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #fff;
    background: #46A358;
    border-radius: 6px;
    font-weight: 500;
    font-family: 'cera_promedium';
    font-size: 16px;
}
.container_menu .log_in:before{
    background-image: url("../images/exit.svg");
    content: "";
    width: 20px;
    height: 20px;
    margin-right: 6px;
}
.banner{
    margin: auto;
    max-width: 1200px;
    margin-bottom: 26px;
}
.banner .container{
    min-height: 450px;
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    background: #FBFBFB;
    padding-left: 43px;
}
.banner article{
    max-width: 557px;
    display: inline-block;
}
article h3,article h1,article p{
    padding: 0;
    margin: 0;
}
article h3{
    padding-top: 68px;
    margin-bottom: 7px;
    color: #3d3d3d;
    text-transform: uppercase;
    font-family: 'cera_promedium';
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
}
.conteiner img{
    margin-right: 120px;
}
article h1{
    font-family: 'cera_problack';
    font-weight: 900;
    font-size: 67px;
    line-height: 100%;
    text-transform: uppercase;
    color: #3d3d3d;
    display:block;
    margin-bottom: 5px;

}
h1 span{
    color: #46A358;
}
article p{
    color: #727272;
    margin-bottom: 44px;
    font-family: 'cera_proregular';
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
}
.container a{
    display: inline-flex;
    text-decoration: none;
    align-items: center;
    background: #46A358 ;
    color: #fff;
    font-family: 'cera_probold';
    font-weight: 700;
    font-size: 16px;
    line-height: 125%;
    text-transform: uppercase;
    border-radius: 6px;
    padding: 10px 26px 10px;
}
.categories .container_categories{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin:26px auto;
    align-items: flex-start;
}
.left_sidebar img{
    width: 370px;
    height: 470px;
    position:relative;
    right: 49px;
}
.left_sidebar ul{

    margin-bottom: 377px;
    list-style-type: none;
}
.left_sidebar h4{
    justify-content: flex-start;
    padding-top: 14px;
    padding-bottom: 7px;
    font-family:  'cera_probold';
    font-weight: 700;
    font-size: 18px;
    line-height: 89%;
    color: #3d3d3d;

}
.left_sidebar ul li{
    padding: 8px;
    cursor: pointer;
}
.left_sidebar li a{
    text-decoration:none;
    font-weight: 400;
    color: #3d3d3d;
    font-family: 'cera_proregular';
}
.left_sidebar  li a:hover{
    font-family:  'cera_probold';
    font-weight: 700;
    font-size: 15px;
    color: #46a358;

}
.categories .left_sidebar{
    max-width: 310px;
    background-color:  #FBFBFB;
    min-height: 774px;
    color: #3d3d3d;
    font-weight: 400;
    font-family: 'cera_proregular';
    padding-left: 20px;
    padding-right: 20px;
}
.categories .right_content{
    display: flex;
    max-width: 840px;
    flex-direction: column;
}
.categories .right_content .flex_1{
    display:flex;
    justify-content: space-between;
    align-items: baseline;
}
.right_content article{
    width: 258px;
    border-top: solid 1px transparent;
}
.right_content article:hover{
    border-top: solid 1px #46a358;
}
.right_content .flex_1 li{
    display:inline-block ;
    margin-right: 50px;
    padding: 8px;
    cursor:pointer;
}
.right_content p{
    font-family: 'cera_proregular';
    font-weight: 400;
    font-size: 15px;
    line-height: 107%;
    color: #3d3d3d;
}
.right_content li a{
    text-decoration: none;
    font-family: 'cera_proregular';
    font-weight: 400;
    font-size: 15px;
    line-height: 107%;
    color: #3d3d3d;
}
.right_content .flex_1 li:hover {
    font-family:  'cera_probold';
    font-weight: 700;
    font-size: 15px;
    line-height: 107%;
    color: #46a358;
}

.right_content .flex_1 li:after {
    content: "";
    display: block;
    height: 3px;
    margin-top: 7px;
    width: 100%;
    background-color: transparent;
    transition: background-color 0.3s;
}
.right_content .flex_1 li:hover:after {
    background-color: #46a358;
}
.flex_2{
    display: flex;
    align-content: space-between;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 90px;


}
.flex_2 article img{
    height:300px;
    width: 258px;

}
.flex_2 article p{
    margin: 5px 0;
    font-family: 'cera_proregular';
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #3d3d3d;
}
.flex_2 article span{
    margin: 5px 0;
    font-family:  'cera_probold';
    font-weight: 700;
    font-size: 18px;
    line-height: 89%;
    color: #46a358;
}
.flex_2 article{
    margin: 10px;
    position: relative;
    margin-bottom: 47px;
}
.sale_13{
    position: absolute;
    left: 0px;
    top: 14px;
    background-color:#46A358;
    padding: 7px 8px 6px 9px;
    font-family: "cera_promedium"!important;
    font-weight: 500!important;
    font-size: 16px!important;
    line-height: 100%!important;
    color:#fff!important;
}
.better_price{
    font-family: "cera_proregular"!important;
    font-weight: 400!important;
    font-size: 18px!important;
    line-height: 89% !important;
    color: #a5a5a5!important;
    text-decoration: line-through!important;
    position: relative;
    left: 5px;
    }
.flex_2 li img{
    width: 20px;
    height: 20px;
    display: block;
}
.flex_2 ul{
    list-style-type: none;
    display: flex;
    position: absolute;
    bottom: 60px;
    right: 70px;
    gap: 26px;
}
.flex_2 li{
    opacity: 0;
}
.flex_2 article:hover li{
    opacity: 1;
}
 .img_shopping:hover{
    content: url("../images/shopping_green.svg");
 }

.img_heart:hover{
    content: url("../images/heart_green.svg");
}
.img_frame:hover{
    content: url("../images/frame_green.svg");
}
.pages{
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: flex-end;
    margin-bottom: 94px;
}
.pages li{
    margin: 0 10px;
}
.pages li a{
    display: block;
    width: 35px;
    height: 35px;
    text-align: center;
    text-decoration: none;
    border: 1px solid #E5E5E5 ;
    font-family: 'cera_prolight';
    font-weight: 300;
    font-size: 18px;
    color: #3d3d3d;
    padding: 9px 10px 12px 10px;
    line-height: 89%;
    border-radius: 5px;
}
.pages  li a:hover{
    font-family:  'cera_probold';
    font-weight: 700;
    font-size: 18px;
    line-height: 89%;
    color: #fff;
    background-color: #46A358;
}
.blogs{
    max-width: 1200px;
    margin: auto;
}
.summer_cuctus{
   position: relative;
    top: -7px;
}
.flex_3{
    display: flex;
    justify-content:space-between;
    margin-bottom: 138px;
}
.flex_3 div{
    position: relative;
}
.flex_3 h4{
    position:absolute;
    right: 30px;
    top: 89px;
    margin-bottom: 9px;
    font-family: 'cera_problack';
    font-weight: 900;
    font-size: 18px;
    line-height: 133%;
    text-transform: uppercase;
    text-align: right;
    color: #3d3d3d;
}
.flex_3 p{
    position: absolute;
    right: 30px;
    top: 145px;
    margin-bottom: 25px;
    font-family: 'cera_proregular';
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    text-align: right;
    color: #727272;
}
.flex_3 a{
    position:absolute;
    right: 30px;
    top: 215px;
    background:#46A358;
    border: none;
    text-decoration: none;
    border-radius: 6px;
    height: 40px;
    font-family: 'cera_promedium';
    font-weight: 500;
    font-size: 14px;
    line-height: 143%;
    color: #fff;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    text-align: center;
    padding: 8px 28px;
}
.flex_3 a:after{
    display: inline-block;
    content:"";
    background-image: url("../images/arrow_right.svg");
    width: 18px;
    height: 18px;
    margin-left: 2px;
    margin-top: 3px;

}
.blogs h3{
    margin-bottom: 15px;
    font-family:  'cera_probold';
    font-weight: 700;
    font-size: 30px;
    line-height: 53%;
    text-align: center;
    color: #3d3d3d;
}
.our_blogs{
    display: flex;
    margin: auto;
    justify-content: center;
    font-family: 'cera_proregular';
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    color: #727272;
    margin-bottom: 35px;
}
.flex_4{
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
}
.flex_4 article{
    background-color: #FBFBFB;
    max-width: 268px;
    min-height: 362px;

}
.flex_4 article image{
    margin-bottom: 9px;
}
.flex_4 article span{
    margin-bottom: 4px;
    margin-left: 15px;
    font-family: 'cera_promedium';
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    color: #46a358;
}
.flex_4 article h4{
    margin-bottom: 4px;
    margin-left: 15px;
    font-family: 'cera_probold';
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    color: #3d3d3d;
}
.flex_4 article p{
    margin-bottom: 9px;
    margin-left: 15px;
    font-family: 'cera_proregular';
    font-weight: 400;
    font-size: 14px;
    line-height: 157%;
    color: #727272;
}
.flex_4 article a{
    margin-bottom: 12px;
    margin-left: 15px;
    text-decoration: none;
    font-family:'cera_promedium';
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    color: #3d3d3d;
}

.flex_4 article a:hover{
    content: "";
    font-family: "cera_promedium";
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    color: #46a358;
}











