.loader_bg{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100000;
  background: #fff;
  width: 100vw;
  height: 100vh;
  margin: inherit;
  padding: inherit;
}
.loader{
  border: 0 solid transparent;
  border-radius: 50%;
  width: 400px;
  height: 400px;
  position: absolute;
  top: calc(50vh - 200px);
  left: calc(50vw - 200px);
}
.loader:before, .loader:after{
  content: '';
  border: 1em solid #46a358;
  border-radius: 50%;
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  animation: loader 3s linear infinite;
  opacity: 0;
}
.loader:before{
  animation-delay: .5s;
}
@keyframes loader{
  0%{
    transform: scale(0.2);
    opacity: 0;
  }
  50%{
    opacity: 1;
  }
  100%{
    transform: scale(1.1);
    opacity: 0;
  }
}
.loader_img{
  position: relative;
  right: -200px;
  top:200px;
  animation: rotate_pot 1.1s infinite linear;

}
@keyframes rotate_pot {
  0%{
    transform:scale(0.5) rotate(10deg);
    opacity: 0.1;


  }
  5%{
    transform:scale(0.7) rotate(20deg);
    opacity: 0.2;


  }
  10%{
    transform:scale(1) rotate(30deg);
    opacity: 0.3;


  }
  13%{
    transform:scale(1.1) rotate(45deg);
    opacity: 0.4;


  }
  15%{
    transform:scale(1.2) rotate(60deg);
    opacity: 0.5;


  }
  20%{
    transform:scale(1.3) rotate(70deg);
    opacity: 0.6;


  }
  25%{
    transform:scale(1.4) rotate(80deg);
    opacity: 0.7;

  }
  31%{
    transform:scale(1.5) rotate(90deg);
    opacity: 0.8;


  }
  37%{
    transform:scale(1.6) rotate(100deg);
    opacity: 0.9;


  }
  42%{
    transform:scale(1.7) rotate(120deg);
    opacity: 1;


  }
  50%{
    transform:scale(1.8)rotate(130deg);
    opacity: 0.1;
  }
  58%{
    transform:scale(1.9) rotate(145deg);
    opacity: 0.2;


  }
  67%{
    transform:scale(2) rotate(160deg);
    opacity: 0.3;


  }
  71%{
    transform:scale(2.1) rotate(180deg);
    opacity: 0.4;


  }
  75%{
    transform:scale(2.2) rotate(200deg);
    opacity: 0.5;

  }
  81%{
    transform:scale(2.3) rotate(215deg);
    opacity: 0.6;


  }
  87%{
    transform:scale(2.4) rotate(240deg);
    opacity: 0.7;


  }
  90%{
    transform:scale(2.5) rotate(260deg);
    opacity: 0.8;


  }
  93%{
    transform:scale(2.55) rotate(280deg);
    opacity: 0.9;


  }
  97%{
    transform:scale(2.58) rotate(320deg);
    opacity: 1;


  }
  100%{
    transform:scale(2.6) rotate(360deg);
    opacity: 0;
  }
  
}
.faq {
  .container_accor{
    max-width: 1200px;
    margin: auto;
    margin-bottom: 50px;
  }
  .ui-accordion .ui-accordion-header{
    border-radius: 22px;
    padding: 20px 16px;
    background-color: transparent;
    border: 2px solid #46A358;
    &.ui-state-active{
      background-color:  #FBFBFB;
      border-bottom: none;
      border-radius: 22px 22px 0 0 ;
    }
    &.ui-accordion-header-active .ui-icon:after {
      transform: rotate(180deg);
    }
    .ui-icon {
      position: absolute;
      right: 30px;
      top: 27px;
      background-image: none;
      background-position: 0;
      text-indent: 0;
      &:after {
        content: "";
        display: flex;
        background-image: url("../images/arrow_accor.svg");
        width: 16px;
        height: 11px;
        background-size: contain;
      }
    }
  }
  .ui-state-active, .ui-widget-content,.ui-state-active,
  .ui-widget-header .ui-state-active, a.ui-button:active,
  .ui-button:active,.ui-button.ui-state-active:hover{
    border: 2px solid #46A358;
    color: black;
  }
  .ui-accordion .ui-accordion-content{
    border: 2px solid #46A358;
    border-radius: 0 0 22px 22px;
    background-color:  #FBFBFB;
    overflow: visible;
    border-top: none;
  }
}












