.container{
    border-bottom:solid 10px #46A358;
    border-top: solid 2px black;
    border-right:solid 2px black;
    border-left:solid 2px black;
    max-width: 500px; margin: auto;
    padding:52px 100px 50px;
    box-sizing: border-box;

}
.main{
    text-align: center;
    margin-bottom: 40px
}
.main__log{
    font-weight: 500;
    font-size: 20px;
    line-height: 80%;
    padding: 12px;
    color: #3d3d3d;
}
.main__\|{
    color: #3d3d3d;
    position:relative;
    top: -2px
}
.main__reg{
    font-weight: 500;
    font-size: 20px;
    line-height: 80%;
    padding: 10px;
    color: #46a358;
}
.paragraf{
    font-weight: 500;
    font-size: 15px;
    margin-bottom: 14px;
    line-height: 123%;
    color: #3d3d3d;
}
.form{
    margin-bottom: 14px
}
.username{
    font-weight: 400;
    font-size: 14px;
    line-height: 114%;
    color: #a5a5a5;
    padding: 12px 14px;
    border: 1px solid #EAEAEA;
    border-radius: 5px;
    width: 100%;
    height: 40px;
    box-sizing: border-box;
}
.email{
    font-weight: 400;
    font-size: 14px;
    line-height: 114%;
    color: #a5a5a5;
    padding: 12px 14px;
    border: 1px solid #EAEAEA;
    border-radius: 5px;
    width: 100%;
    height: 40px;
    box-sizing: border-box;
}
.password{
    font-weight: 400;
    font-size: 14px;
    line-height: 114%;
    color: #a5a5a5;
    border: 1px solid #EAEAEA;
    padding: 12px 14px;
    border-radius: 5px;
    width: 100%;
    height: 40px;
    box-sizing: border-box;
}
.confirm{
    font-weight: 400;
    font-size: 14px;
    line-height: 114%;
    color: #a5a5a5;
    padding: 12px 14px;
    border: 1px solid #EAEAEA;
    border-radius: 5px;
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    margin-bottom: 41px;
}
.bottom{
    font-weight: 700;
    border: none;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    width: 100%;
    height: 45px;
    font-size: 16px;
    line-height: 100%;
    color: #fff;
    background-color: #46A358;
    margin-bottom:36px;
}
.text{
    text-align: center;font-weight: 300;
    margin-bottom:27px;
    font-size: 17px;
    line-height: 123%;
    color: #3d3d3d;
}
.google{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 9px;
    font-weight: 500;
    font-size: 17px;
    line-height: 123%;
    color: #727272;
    padding: 10px;
    width: 100%;
    height: 40px;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    box-sizing: border-box;
    text-decoration-line: none;
    margin-bottom: 15px;
}
.facebook{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 9px;
    font-weight: 500;
    font-size: 17px;
    line-height: 123%;
    color: #727272;
    padding: 10px;
    width: 100%;
    height: 40px;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    box-sizing: border-box;
    text-decoration-line: none;
}


.loader_bg{
    position: fixed;
    z-index: 1;
    background: #fff;
    width: 100%;
    height: 100%;
}
.loader{
    border: 0 solid transparent;
    border-radius: 50%;
    width: 400px;
    height: 400px;
    position: absolute;
    top: calc(50vh - 200px);
    left: calc(50vw - 200px);
}
.loader:before, .loader:after{
    content: '';
    border: 1em solid #46a358;
    border-radius: 50%;
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    animation: loader 3s linear infinite;
    opacity: 0;
}
.loader:before{
    animation-delay: .5s;
}
@keyframes loader{
    0%{
        transform: scale(0.2);
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        transform: scale(1.1);
        opacity: 0;
    }
}
.loader_img{
    position: relative;
    right: -200px;
    top:200px;
    animation: rotate_pot 1.1s infinite linear;

}
@keyframes rotate_pot {
    0%{
        transform:scale(0.5) rotate(10deg);
        opacity: 0.1;


    }
    5%{
        transform:scale(0.7) rotate(20deg);
        opacity: 0.2;


    }
    10%{
        transform:scale(1) rotate(30deg);
        opacity: 0.3;


    }
    13%{
        transform:scale(1.1) rotate(45deg);
        opacity: 0.4;


    }
    15%{
        transform:scale(1.2) rotate(60deg);
        opacity: 0.5;


    }
    20%{
        transform:scale(1.3) rotate(70deg);
        opacity: 0.6;


    }
    25%{
        transform:scale(1.4) rotate(80deg);
        opacity: 0.7;

    }
    31%{
        transform:scale(1.5) rotate(90deg);
        opacity: 0.8;


    }
    37%{
        transform:scale(1.6) rotate(100deg);
        opacity: 0.9;


    }
    42%{
        transform:scale(1.7) rotate(120deg);
        opacity: 1;


    }
    50%{
        transform:scale(1.8)rotate(130deg);
        opacity: 0.1;
    }
    58%{
        transform:scale(1.9) rotate(145deg);
        opacity: 0.2;


    }
    67%{
        transform:scale(2) rotate(160deg);
        opacity: 0.3;


    }
    71%{
        transform:scale(2.1) rotate(180deg);
        opacity: 0.4;


    }
    75%{
        transform:scale(2.2) rotate(200deg);
        opacity: 0.5;

    }
    81%{
        transform:scale(2.3) rotate(215deg);
        opacity: 0.6;


    }
    87%{
        transform:scale(2.4) rotate(240deg);
        opacity: 0.7;


    }
    90%{
        transform:scale(2.5) rotate(260deg);
        opacity: 0.8;


    }
    93%{
        transform:scale(2.55) rotate(280deg);
        opacity: 0.9;


    }
    97%{
        transform:scale(2.58) rotate(320deg);
        opacity: 1;


    }
    100%{
        transform:scale(2.6) rotate(360deg);
        opacity: 0;
    }

}












